* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.col {
  display: flex;
  flex-direction: row;
}
.text-center {
  text-align: center;
}

.left-Side {
  padding: 15px;
}

.right-Side {
  padding: 15px;
}

.pre-title {
  margin: 50px 0 8px;
  font-size: 16px;
}

.demoImg {
  text-align: center;
  margin: 60px 0px;
}
.mt-15 {
  margin-top: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.p-10 {
  padding: 10px;
}

.font-20 {
  font-size: 20px;
}

.h-24 {
  height: 24px;
}

.w-16 {
  width: 16px;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 100%;
  }

  .left-Side,
  .right-Side {
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .left-Side,
  .right-Side {
    display: inline;
    width: 45%;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 970px;
    flex-direction: column;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    width: 1170px;
  }
}
