* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-inlineblock {
  display: inline-block;
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  width: 3%;
  padding: 0 10px;
  /* justify-content: center; */
  background-color: rgb(197, 197, 197);
}

.my-auto {
  margin: auto 0px;
}

.content {
  width: 97%;
}

.header {
  background-color: #5a5a5a;
  padding: 30px;
}

.header-Content {
  margin-left: 30px;
  color: white;
}

.header-img {
  height: 150px;
  width: 150px;
}

.header-btn {
  border: 0;
  background: none;
  /* margin: 0px 10px; */
}

.control-btn {
  margin-top: 73px;
}

.control-btn > button {
  color: white;
  margin: 0px 10px;
}

.song-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.song-table > th,
td {
  text-align: left;
  padding: 8px;
}

.song-table tr:nth-child(even) {
  background-color: #cecece;
}
.table-btn {
  border: 1px solid black;
  background: white;
  color: blue;
  padding: 2px;
  font-weight: bold;
}

.songBox-side {
  background: #4747fb;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.songBox-side > div > img {
  height: 60px;
  width: 60px;
}

.group-btn {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.group-btn > button {
  background: none;
  border: none;
  color: white;
}

.song-text {
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  margin-left: 10px;
}

.song-text > p {
  width: 100%;
  color: white;
}
