* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-box {
  height: 400px;
  width: 400px;
  /* transition: 1s linear;
  transform-origin: top left; */
}

.box-5:hover {
  transform: rotate(90deg);
}

.box-6:hover {
  transform: rotate(-90deg);
}

.box-7:hover {
  transform: rotate(-90deg);
}

.box-8:hover {
  transform: rotate(90deg);
}

.hi-text {
  position: absolute;
  top: 80px;
  left: 38%;
}

.box-s {
  height: 100px;
  width: 100px;
  position: absolute;
  z-index: 2;
  transition: 1s linear;
}

.box-5 {
  background-color: red;
  top: 100px;
  left: 100px;
  transform-origin: 0% 0%;
}

.box-6 {
  background-color: yellow;
  top: 100px;
  right: 100px;
  transform-origin: 100% 0%;
}

.box-7 {
  background-color: blue;
  top: 200px;
  left: 100px;
  transform-origin: 0% 100%;
}

.box-8 {
  background-color: green;
  top: 200px;
  right: 100px;
  transform-origin: 100% 100%;
}
